.inspection-log
  width: 100%
  .inspection-log-left
    width: 70%
    float: left;
    .inspection-log-abnormal
      border: 1px dashed #1890ff
      padding: 20px
      position: relative
      border-radius: 5px
      display: flex
      margin-bottom: 10px
      .inspection-log-abnormal-flex
        width: 100%
        .inspection-log-abnormal-select
          margin-bottom: 24px
      .inspection-log-abnormal-plus
        position: absolute
        right: -10px
        color: #1890ff
        font-size: 20px
        top: 70px
      .inspection-log-abnormal-delete
        position: absolute
        right: -10px
        color: red
        top: 110px
        font-size: 20px

  .inspection-log-right
    overflow: hidden // BFC
    width: 30%
    position: relative
    height: 200px
    //border: 1px solid #d9d9d9
    // text-align: center
    transform:rotate(-15deg);
    -ms-transform:rotate(-15deg); /* Internet Explorer */
    -moz-transform:rotate(-15deg); /* Firefox */
    -webkit-transform:rotate(-15deg); /* Safari 和 Chrome */
    -o-transform:rotate(-15deg); /* Opera */
    img 
      opacity: 0.6
      margin-left: 40px
    p
      font-size: 16px
    .inspection-log-date
      position: absolute
      bottom: 50px
      left: 95px
      font-weight: 800
    .inspection-log-name
      position: absolute
      bottom: 15px
      left: 83px
      font-weight: 600