.report
    font-size:1.2em;
    margin-bottom:5px
    border-bottom:0.2px
.inspection-report
    .inspection-report-contact
        color: #1890ff
        width: 100%
        font-size: 30px
        margin-top: 350%