.video-show
  .video-show-button
    margin: 10px
    border-color: #40a9ff
  .video-main
    position: relative
    background-color: #999999
    min-height: 450px
    overflow: hidden
    .video-main-center
      width: 50%
      margin: 0 25%
    .video-main-margin
      margin-bottom: 30px
    .video-main-left    
      width: 22%     
      position: absolute
      left: 0
      top: 0
    .video-main-right
      width: 22%
      position: absolute
      right: 0
      top: 0