.page-title-component
    display: flex
    cursor:pointer
    height :60px
    line-height: @height 
    font-weight: 600 
    font-size: 16px
.page-title-component li 
    list-style: none
.module-extra
    font-size: 12px
    cursor:pointer
    float:right
    