.group-list-module
    .operate-btns
        display: flex;
        align-items: center;
        Button 
            border: none;
            padding: 0;
            color: #357aff;
            background: transparent;
            margin-right: 10px;
        Link
            color: #357aff;
            background: transparent;
            margin-right: 5px;