.Judge-Design
    background-color:yellow
.Judge-Unfinish
    background-color:green
.ant-table-tbody > tr.blueback > td:nth-child(1)
    background-color:#86ccf8
.ant-table-tbody > tr.redback > td:nth-child(1)
    background-color:#ff461f
.ant-table-tbody > tr >td
    text-align:center
.btns{
    width:100px
    border-color:#ffa000
    color:#ffa000
}
.deleteBtns
    border-color:#aaa5a5
    color:#aaa5a5
    width:100px
