.home
    height:190px
    width:350px
    border:0.5px solid #000000
    text-align:center
    margin-bottom:20px
    border-radius:20px  
.home:hover
    box-shadow: 0 0 20px #bfb9b9
.inter
    margin-top:20px
    margin-left:10px
    margin-right:10px
.pic
    margin-top:10
.section-title 
    text-align: center;
    color: #ddd;
    font-size: 30px;			
.border 
    width: 200px;
    height: 2px;
    background: #82ccdd;
    margin: 20px auto;
.service-box 
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;	
.service-title 
    font-size: 18px;
    margin-bottom: 10px;
.service-icon 
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
.service-desc 
    font-size: 14px;
.service-icon i 
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
.service-box:hover .service-icon 
    background: #82ccdd;
    color: #ddd;
			