.path-way-create
  .path-way-border
    border: 1px dashed #1890ff 
    padding: 20px
    border-radius: 5px
    .path-way-area
      width: 80%
      margin-bottom: 20px
    .area-button
      width: 13%
      margin-left: 7%
  .path-way-width
    width: 80%