.report-card{
  border: 1px solid #d9d9d9;
  padding: 20px;
  border-radius: 5px;
  .report-card-header{
    zoom: 1;
    p {
      text-align: center;
    }  
    .whiteButton{
      margin-top: -40px;
      float: right;
    }
  }
  .report-card-header:after{
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
  }
  .report-card-content{
    background-color: #fafafa;
    padding:15px;
    margin-top:20px;

  }
}