.report-card {
  border: 1px solid #d9d9d9;
  padding: 20px;
  border-radius: 5px;
  .report-card-header {
    zoom: 1; // 兼容低版本浏览器
    p {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
    }  
    .whiteButton{
      margin-top: -45px;
      float: right;
      color: #1890ff;
      border-color: #1890ff;
    }
  }
  // 清除浮动
  .report-card-header:after {
    content: "";
    display: block;
    height: 0;
    clear:both;
    visibility: hidden;
  }
  .report-card-content {
    background-color: #fafafa;
    padding: 15px;
    margin-top: 12px;
    .content-name {
      display: flex;
      justify-content: space-between;
      :last-child {
        margin-left: 15px;
      }
      .prople-icon {
        color: #1890ff;
      }

    }
    .content-line {
      padding-bottom: 5px;
      border-bottom:1px dashed #d9d9d9;
      .content-remark {
        display: inline-block;
        color: #1890ff;
        font-size: 10px;
      }
    }
    
  }
}