.gis-map-1{
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:60%;
  height:725px;
  float:left
}
.wrap-gis-map-2{
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:60%
  height:0
  padding-bottom:44.8%
  float:left
  position:relative
}
.wrap-gis-map-2 .gis-map-2{
  position:absolute
  left:0
  top:0
  width:100%;
  height:100%;
}
.wrap-gis-map-3{
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:60%
  height:0
  padding-bottom:62%
  float:right
  position:relative
}
.wrap-gis-map-3 .gis-map-3{
  position:absolute
  left:0
  top:0
  width:100%
  height:100%
}
.gis-map-4{
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:100%
  height:500px
  float:left
}
.plan-info-1{
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:40%;
  height:30%;
  float:left
}
.plan-info-2{
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:33%
  height:100%
  float:left
}
.wrap-plan-info-3{
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  position:relative
  width:40%
  height:0
  padding-bottom:16.99%
  float:right
}
.wrap-plan-info-3 .plan-info-3{
  position:absolute
  left:0
  top:0
  width:100%
  height:100%
}
.alarm-info-1 
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:40%;
  height:30%;
  float:left
.alarm-info-2
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:33%
  height:100%
  float:left
.charts-1
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:40%;
  height:30%;
  float:left
.charts-2
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:33%
  height:100%
  float:left

.video-1-1{
  border:1px solid rgba(41,118,251,0.3);
  background-color:rgba(45,99,241,0.04);
  border-radius:4px;
  width:50%;
  height:100%;
  float:left
}
.video-1-2
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:50%;
  height:100%;
  float:left
.video-2-1
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:40%
  height:50%
  float:left
.video-2-2
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:40%
  height:50%
  float:left
.video-3-1
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:40%
  height:100%
  float:right
.video-3-2
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:40%
  height:100%
  float:right
.video-4-1
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:33%
  height:100%
  float:left
.video-4-2
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:33%
  height:100%
  float:left
.video-4-3
  border: 1px solid rgba(41,118,251,0.3) ;
  background-color: rgba(45,99,241,0.04);
  border-radius: 4px;
  width:33%
  height:100%
  float:left