.header-info
  display: flex
  color: white
  .header-info-box
    cursor: pointer
    background-color: #001529
    margin: 8px
    padding: 10px
    width: 20%   
    white-space: nowrap
    overflow: hidden
    span:first-child
      color: blue
      display: block
      margin-bottom: 5px
    .header-info-content
      display: block
      font-size: 10px
      text-overflow: ellipsis
      overflow: hidden
    .header-info-footer
      display: block
      border-top: 1px solid #3d444c
      padding-top: 6px
      margin-top: 4px
    .ant-progress-text
      color: white !important
.border-line
  width: 50%
  min-height: 310px
  background-color: #001529
  margin: 8px
  color: white
  overflow: hidden
  padding: 10px
  .video-display
    display: flex
    justify-content: space-around
    .video-scene
      margin: 20px
  .data-list
    p
      border-bottom: 1px solid #3d444c

    
