.management-people
  display: flex
  .people-box
    border: 1px solid #d9d9d9
    height: 230px
    cursor: pointer
    width: 40%
    .box-title
      border: 1px solid #d9d9d9
      padding-left: 35px
      overflow: hidden
      height: 40px
      width: 100%
    .box-content
      border: 1px solid #d9d9d9
      height: 190px
      overflow: auto
      .box-content-border
        border-bottom: 1px solid #fff
      .box-content-padding
        padding-left: 20px
  .people-arrow   
    height: 230px
    width: 20%
    .arrow-icon
      display: block
      font-size: 20px
      padding: 5px
      background-color: #1890ff
      color: #fff
      margin: 0 20px
      &:first-child
        margin-top: 70px
        margin-bottom: 20px