
.page-title-create-component
    cursor:pointer
    justify-content: space-between
    height :50px
    line-height: @height 
    font-weight: 600 
    font-size: 16px
    border-bottom: 1px solid #d9d9d9
    margin-bottom: 20px
    li 
      list-style: none
    .page-title-create
      display: flex
      padding: 0
      margin-left: 50px
    
