.layout.custom-layout
  min-height: 100vh;
  background: #fff;
  margin-bottom: 0px;
  .custom-header
    background: #2e313a;
    height: 50px;
    line-height: 50px;
    .logo
      color: white;
      font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
      font-size: large;
      margin-left: -30px!important;
      margin-right: 48px!important;
      float: left;
      img
        width: 120px;

    .userInfo
      float: right;
      height: 100%;
      cursor: pointer
      font-size: 13px;

    .avatar-custom
      margin: 10px 8px 15px 0;
      color: rgb(24, 144, 255);
      background: rgba(255, 255, 255, 0.85);
      vertical-align: middle;
      width: 30px;
      height: 30px;
    
    .ant-dropdown-trigger
      display: inline-block;

    .menu
      color: white;
      background: #2e313a;
      line-height: 50px;
      font-size: 13px;
      .anticon
        margin-right: 8px;
      .ant-dropdown-menu-item
        width: 130px;  
    .custom-sub-menu
      color:white
  .content-layout
    padding: 24px 24px 0;
    margin-bottom: 80px;
    min-height: 830px;

  .footer-layout
    background: #001529!important;
    color: rgba(255, 255, 255, 0.65)!important;

    .footer-title
      font-weight: 600;
      color: white;
      line-height: 36px;

    .footer-ul
      list-style: none;
      padding-left: 0px;

    .footer-ul li
      margin: 5px 0;

    .footer-ul a
      color: rgba(255, 255, 255, 0.65);

    .footer-logo
      font-weight: 300;
      margin-top: -10px;

      div
        margin-bottom: 5px;

      .footer-logo-text
        color: white;
        font-size: 40px;
        text-align: center;

      .footer-code
        width: 96px;
        height: 96px;

      .footer-code-text
        font-size: 12px;

.ant-dropdown {
  .anticon {
    margin-right: 8px;
  }
  .ant-dropdown-menu-item {
    width: 120px;
  }
}

.content-header {
  padding-bottom: 15px;
}

.content-header > h1 {
  margin: 0;
  font-size: 24px;
}

.content-header > h1 > small {
  font-size: 14px;
  display: inline-block;
  padding-left: 15px;
  font-weight: 300;
}

.coming {
  text-align: center;
}

.am-global-loading-wrapper {
  display: none;
}

 .custom-sub-menu
    > ul 
      background: #2e313a !important;
      margin-top: -5px;
      .ant-menu-item > a
        font-size: 13